body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: white;
  height: 100vh;
}
.blocklyMainBackground {
  stroke: transparent;
}
header {
  background-color: #F5F5F5;
  height: 49px;
  width: 100vw;
  border-bottom: 1px solid #E5E5E5;
}
.header-text {
  color: #317410;
  font-size: 24px;
  font-family: "Avenir";
}
#regman-coding-view {
  height: calc(100vh - 150px);
  width: 100vw;
}
.display-console {
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #EEEEEE;
  height: 0px /*- @border-width*/;
  width: calc(100vw - 100px);
  font-size: 24px;
  text-align: center;
  color: #348ACB;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}
