
//
// Regman - Visual Language for RegEx
// Copyright 2016 Kary Foundation, Inc.
// Author: Pouya Kary <k@karyfoundation.org>
//

//
// ─── SIZINGS ────────────────────────────────────────────────────────────────────
//

    @toolbar-height: 50px;
    @display-console: 100px;
    @acent-color: #466D00;
    @border-width: 2px;

//
// ─── BASE ───────────────────────────────────────────────────────────────────────
//

    body, html {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    body {
        background-color: white;
        height: 100vh;
    }

//
// ─── BLOCKLY WORKSPACE ──────────────────────────────────────────────────────────
//

    .blocklyWorkspace ( ) {
        border: none;
    }

    .blocklyMainBackground {
        stroke: transparent;
    }

//
// ─── TOOLBAR ────────────────────────────────────────────────────────────────────
//

    header {
        background-color: #F5F5F5;
        height: @toolbar-height - 1px;
        width: 100vw;
        border-bottom: 1px solid #E5E5E5;
    }

    .header-text {
        color: #317410;
        font-size: 24px;
        font-family: "Avenir";
    }

//
// ─── REGMAN VIEW ────────────────────────────────────────────────────────────────
//

    #regman-coding-view {
        height: calc( ~'100vh' - @toolbar-height + @display-console );
        width: 100vw;
    }

//
// ─── DISPLAY CONSOLE ────────────────────────────────────────────────────────────
//

    .display-console {
        @padding-size: 50px;
        @padding-top-remover: 20px;
        padding: @padding-size;
        padding-top: @padding-size - @padding-top-remover;
        padding-bottom: @padding-size;
        background-color: #FAFAFA;
        border-bottom: 1px solid #EEEEEE;
        //border-top: @acent-color @border-width solid;
        height: @display-console /*- @border-width*/ - 2*  @padding-size;
        width: calc( ~'100vw' - 2 * @padding-size );
        font-size: 24px;
        text-align: center;
        color: #348ACB;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
    }

// ────────────────────────────────────────────────────────────────────────────────
